@import url(../css/common.css);
@import url(../css/all_font.css);
@import url(../css/profile.css);
@import url(../css/design.css);
@import url(../css/publishing.css);
@import url(../css/mobile_part.css);
@import url(../css/responsive_web.css);
@import url(../css/plan_part.css);
@import url(../css/mobile_mockup.css);
@import url(../css/tablet_mockup.css);
@import url(../css/pc_mockup.css);

/* 전체 조율 영역 */

#wrap{width:100%;}

h3{
	font-size: 48px;
	font-family: 'SDSwaggerTTF', sans-serif;
}
header{
	position:fixed;
	z-index:1000;
	width: inherit;
	height:70px;
	background:#fff;
}
.header_in{
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
/* 로고 */
.header_in>h1{
	width: 50%;
	height: 70px;
	font-size:24px;
	text-align:center;
	line-height:70px;
}
.header_in>h1>a>img{
	height: 100%;
}
/* date 표기 */
.cont_date{
	font-size: 13px;
	text-align: center;
	line-height: 70px;
	color:#666;
}
/* chrome 안내 문구  */
@keyframes text_blink1{
	0%{opacity: 0.1;}
	20%{opacity: 1;}
	40%{opacity: 0.1;}
	60%{opacity: 1;}
	80%{opacity: 0.1;}
	100%{opacity: 1;}
}
.header_in>p{
	width: 25%;
	display: inline-block;
	font-size: 12px;
	color:#888;
	text-align: center;
}
.header_in>p:nth-of-type(2){
	width: 25%;
	animation: text_blink1 10s ease-in-out;
	vertical-align: bottom;
}
.header_in>p>span{
	font-size: 14px;
	color: #3914a0;
}

/* 메뉴 영역 */
nav{
	width:100%;
	height:50px;	
	background:#fff;
	text-align:center;
}
nav ul{
	display: inline-block;
	margin: 0 auto;
	display: flex;
	flex-direction: row;

}
nav ul li{
	flex: 1;
	width:150px;
	line-height:50px;
	background-color: inherit;
	transition: all 0.5s;
}

nav ul li a{
	width: 150px;
	font-family: 'SDSwaggerTTF', sans-serif;
	font-size:24px;
	color:#000;
	display: flex;
	flex-direction: column;
	position: relative;
	text-align: center;
	border-radius: 50%;
	transition: all 0.3s;
}
nav ul li a p{
	width: 150px;
	display: inline;
	opacity: 1;
	transition: all 0.3s;
}
nav ul li a span{
	width: 150px;
	position: absolute;
	opacity: 0;
	bottom: 0;
	transition: all 0.3s;
}
nav ul li:hover a{
	background-color: #cff;
	border-radius: 20px 0 20px 0;
}
nav ul li:hover a p{opacity: 0;}
nav ul li:hover a span{opacity: 1;}

/* section 영역 전체 컨트롤 */

section{
	position:relative;
	width:100%;	
	margin:0 auto;
	padding-top:150px; /*position:fixed 로 헤더 높이만큼~*/
	height:800px;
}
section h2{
	font-size:64px;
	font-family: 'SDSwaggerTTF', sans-serif;
	font-weight: 100;
	color:white;
	text-shadow:1px 2px 1px #000;
	text-align: left;
	text-transform: uppercase;
}
#p1{
	background:url(../image/main_bg.jpg) no-repeat center;
	background-size: cover;
}
#p2{
	background:url(../image/profile_bg.jpg) no-repeat center;
	background-size: cover;
}	
#p3{background: url(../image/design_bg.jpg) no-repeat center;}
#p4{background:#f0f0f0;}
#p5{
	background: url(../image/mobile_bg.jpg.png) no-repeat center;
	background-size: cover;}
#p6{
	background:url(../image/pos_bg.png) no-repeat;
	background-size: cover;
}
#p7{
	background:url(../image/plan_part_bg.jpg) no-repeat;
	background-size: cover;
	color: #f0f0f0;
}
#p8{
	background:#000;
	color:#fff
}

/* 비주얼 영역 */
#m0{
  width:100%;
  height:80%;
  /* background:#f3f1f1; */
	display: flex;
	justify-content: center;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
}
#m0 h2{
	font-family: 'SDSwaggerTTF', sans-serif;
  /* font-family: 'Nanum Gothic', sans-serif; */
  font-size:48px;
  font-weight:500;
  color:#333;
  padding-top:5%;
  text-align:center;  
}
.m0_in{
	width: 500px;
	display: flex;
	justify-content:center;
	align-items:flex-start;
}

/* 로고 목업1 영역 */
.visual_image{
	width: 700px;
	height: 520px;
	overflow: hidden;
	border-radius: 50px;
	
}
.visual_image:hover a img{
	transform: scale(1.3);
}
.visual_image>a>img{
	width: 100%;
	transition: all 1s;
}






/* footer */
@keyframes last_blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
.part8{
	padding: 0;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.foot_text{
	font-size: 86px;
}
.last_nevigate{
	animation: last_blink 2s ease-in-out infinite;
	color:#f0f0f0;
}
	

address{color: #fff;}