@import url(../css/common.css);
@import url(../css/all_font.css);
@import url(../css/publishing.css);
@import url(../css/mobile_mockup.css);
@import url(../css/tablet_mockup.css);

/* 전체 조율 영역 */

#wrap{width:100%;}

h3{
	font-size: 48px;
	font-family: 'SDSwaggerTTF', sans-serif;
}
header{
	position:fixed;
	z-index:1000;
	width: inherit;
	height:70px;
	background:#fff;
}
.header_in{
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
/* 로고 */
.header_in>h1{
	width: 50%;
	height: 70px;
	font-size:24px;
	text-align:center;
	line-height:70px;
}
.header_in>h1>a>img{
	height: 100%;
}
/* date 표기 */
.cont_date{
	font-size: 13px;
	text-align: center;
	line-height: 70px;
	color:#666;
}
/* chrome 안내 문구  */
@keyframes text_blink1{
	0%{opacity: 0.1;}
	20%{opacity: 1;}
	40%{opacity: 0.1;}
	60%{opacity: 1;}
	80%{opacity: 0.1;}
	100%{opacity: 1;}
}
.header_in>p{
	width: 25%;
	display: inline-block;
	font-size: 12px;
	color:#888;
	text-align: center;
}
.header_in>p:nth-of-type(2){
	width: 25%;
	animation: text_blink1 10s ease-in-out;
	vertical-align: bottom;
}
.header_in>p>span{
	font-size: 14px;
	color: #3914a0;
}

/* 메뉴 영역 */
nav{
	width:100%;
	height:50px;	
	background:#fff;
	text-align:center;
}
nav ul{
	display: inline-block;
	margin: 0 auto;
	display: flex;
	flex-direction: row;

}
nav ul li{
	flex: 1;
	width:150px;
	line-height:50px;
	background-color: inherit;
	transition: all 0.5s;
}

nav ul li a{
	width: 150px;
	font-family: 'SDSwaggerTTF', sans-serif;
	font-size:18px;
	color:#000;
	display: flex;
	flex-direction: column;
	position: relative;
	text-align: center;
	border-radius: 50%;
	transition: all 0.3s;
}
nav ul li a p{
	width: 150px;
	display: inline;
	opacity: 1;
	transition: all 0.3s;
}
nav ul li a span{
	width: 150px;
	position: absolute;
	opacity: 0;
	bottom: 0;
	transition: all 0.3s;
}
nav ul li:hover a{
	background-color: #cff;
	border-radius: 20px 0 20px 0;
}
nav ul li:hover a p{opacity: 0;}
nav ul li:hover a span{opacity: 1;}

/* section 영역 전체 컨트롤 */

section{
	position:relative;
	width:100%;	
	margin:0 auto;
	padding-top:150px; /*position:fixed 로 헤더 높이만큼~*/
	height:800px;
}
section h2{
	font-size:64px;
	font-family: 'SDSwaggerTTF', sans-serif;
	font-weight: 100;
	color:white;
	text-shadow:1px 2px 1px #000;
	text-align: left;
	text-transform: uppercase;
}
#p1{background:#f0f0f0;}
#p2{background:#d8d8da;}	
#p3{background: url(../image/design_bg.jpg) no-repeat center;}
#p4{background:#f0f0f0;}
#p5{
	background: url(../image/mobile_bg.jpg.png) no-repeat center;
	background-size: cover;}
#p6{background:#242424;}
#p7{
	background:#1e1f1e;
	color: #f0f0f0;
}
#p8{
	background:#000;
	color:#fff
}

/* 비주얼 영역 */
#m0{
  width:100%;
  height:80%;
  background:#f3f1f1;
	display: flex;
	justify-content: center;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
}
#m0 h2{
	font-family: 'SDSwaggerTTF', sans-serif;
  /* font-family: 'Nanum Gothic', sans-serif; */
  font-size:48px;
  font-weight:500;
  color:#333;
  padding-top:5%;
  text-align:center;  
}
.m0_in{
	width: 500px;
	display: flex;
	justify-content:center;
	align-items:flex-start;
}

/* 로고 목업1 영역 */
.visual_image{
	width: 700px;
	height: 520px;
	overflow: hidden;
	border-radius: 50px;
	
}
.visual_image:hover a img{
	transform: scale(1.3);
}
.visual_image>a>img{
	width: 100%;
	transition: all 1s;
}

/* 아래로 화살표  */
.visual_line{
	width: 50px;
	height: 320px;
	/* background-color: #00cccc; */
	position: absolute;
	left: 30px;
	bottom: 0;
}
@keyframes arrow_D{
	0%{top:0}
	100%{top:310px;opacity: 0;}
}
@keyframes arrow_D2{
	0%{top:20px}
	100%{top:310px;opacity: 0;}
}
.slide_point{
	width:20px;
	height:320px;
	border: 1px solid #000;
	margin: 70px auto;
	border-radius: 10px;
	position: relative;
}
.arrow_down, .arrow_down2{
	position: absolute;
	top: 0;
	left: 0px;
	font-size: 20px;
	transition: all 0.5s;
	animation: arrow_D 2s ease-in-out infinite;
}
.arrow_down2{
	top: 10px;
	animation: arrow_D2 2s ease-in-out infinite;
}
/* profile */
.part2{
	height: 800px;
}
.part2_in{
	width: 1200px;
	margin: 0 auto;
}
.part2 h3{
	font-size: 21px;
	font-family: 'SDSwaggerTTF', sans-serif;
	font-weight: 100;
	color: #333;
}
.all_profile{
	width: 1200px;
	margin: 0 auto;
	display:grid;
	grid-template-columns: repeat(3,1fr);
  grid-auto-rows: minmax(300px, auto);
	
}
.all_profile>div{
	border-radius: 30px;
	text-align: center;
}
.picture_personal{
	width:380px;
	height: 580px;
	border: 3px solid #333;
	overflow: hidden;
	position: relative;
	grid-row: 1/3;
}

.picture_personal .picture{
	width: 380px;
}
.picture_personal .picture>img{width: 100%;}

.picture_personal .white_box{
	width: 380px;
	height: 250px;
	background-color: #fff;
	position: absolute;
	bottom: 0;
}

.person_profile{
	grid-column: 2/4;
	width:800px;
	height: 280px;
	border: 3px solid #333;
}
.person_technic{
	grid-row: 2/3;
	grid-column: 2/4;
	width:800px;
	height: 280px;
	border: 3px solid #333;
}



/* ///////////////////////////////////////////////////////////디자인 영역 */
.part3{}
.part3_in{
	width: 1200px;
	margin: 0 auto;
}
.part3_in li a>img{
	width: 100%;
	height: 100%;
}
.part3_in li p>img{width:100%;}

.block_hover{
	width: 100%;
	height: 0px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	text-align: center;
	transition: all 0.3s;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.block_hover p{
	text-align: center;
	width: 50px;
	height: 50px;
	opacity: 0;
}

.block_hover span{
	width: 100%;
	font-size: 13px;
	opacity: 0;
}
.part3_in li a:hover .block_hover{
	opacity: 1;
	height: 150px;
	box-shadow: 0 0 10px #bbbbbb;
}
.part3_in li a:hover .block_hover p{
	opacity: 1;
}

.part3_in li a:hover .block_hover span{
	opacity: 1;
}
/* 1번 탭 */
#tabmenu{
	width:1200px;
	margin:50px auto;
}
.tab li{
	width:180px;
	height:50px;
	float:left;
	background:rgb(218, 219, 218);
	color:#333;
	font-size: 17px;
	line-height:50px;
	text-align:center;
	font-weight:bold;
}
.tab li.selected{ 
	background:#070707;
	color:#fff;
	font-weight:bold;
}

.panel{
	clear:both; 
	background:#070707;;
	padding:20px;
	color:#fff;
	font-size:14px;
	line-height:25px;
}

/* 디자인 1번 */
.graphic_list{ 
	margin:0 auto; 
	width:1200px;  
	box-sizing:border-box;
}
.graphic_list li{
	float:left; 
	width:210px; 
	height:150px; 
	margin-left:20px;
	margin-bottom:20px;
	background:black;
	overflow: hidden;
	position: relative;
	border-radius: 40px;
	transition: all 0.3s;
}
.graphic_list li a{
	font-size:30px;
	font-weight:bold;
	color:#fff;
}

.graphic_list li:hover{
	border-radius: 20px;
	box-shadow:inset 0 0 10px #cff,
						inset 0 0 20px #cff, 
						0 0 10px #bbbbbb,
						0 0 20px #cff;
}

.graphic_list li a>img{transition: all 0.3s;}
.graphic_list li:hover a>img{
	transform: scale(1.3);
}
/* POPUP BOX ---------------------*/

#popup{ /*검정배경*/
	display:none; 
	position:fixed; 
	left:0; 
	top:0;
	width:100%; 
	height:100%; 
	background:rgba(0,0,0,0.7); 
	z-index:1000;
	overflow-y:scroll; 
}

/*각 목록별 나오는 모달팝업 내용 나오는 부분*/

.pop_body{   
	position:relative;
	height:100%;	
	margin:0 auto;
	width:1000px;
	background:#fff;
	z-index:10000;
}
.pop>li{
	width:1000px;
	position:absolute;
	text-align:center;
	background:#fff;
	display:none;
}
.pop>li p{
	text-align:center;
	font-size:30px;
}

/*버튼영역*/ 
.m_btn{
	position:fixed;
	left:50%;
	top:0px;
	margin-left:492px;
	width:80px;
	height:150px;
	color:#fff;
	text-align:center;
	overflow:hidden;
	z-index:10000;
}
.m_btn>li{
	cursor:pointer;
	overflow:hidden;
	background:#fff;
	transition: all 0.5s;
}
.m_btn>li:hover{
	background:#000;
}
.m_btn li i{color:#070707;}
.m_btn li:hover i{color:#d5d5d5;}
/*닫기버튼*/
.m_btn .btn_close{
	height:70px;
	width:80px;
	cursor:pointer;
	border-bottom:1px solid #faf9f9;
}
.m_btn .btn_close i{  /*아이콘폰트*/
	position:relative;
	top:15px;
	font-size:40px;
	color:#070707;
}
.m_btn .btn_close:hover i{color: #d5d5d5;}
/*다음이전 버튼*/

.m_btn .left_btn, .m_btn .right_btn{float:left;}

.m_btn .left_btn i,.m_btn .right_btn i{ 
	position:relative;
	top:10px;
	font-size:30px;	
	width:40px;
	height:50px;	
}

.m_btn .g_page{  /*Page번호*/
	font-size:12px;
	color:#fff;
	width:80px;
	padding-top:10px;
	height:50px;
	text-align:center;
	color:#070707;
}
.m_btn:hover .g_page{color:#d5d5d5;}
/* 디자인 2번 */
.graphic_list2{ 
	margin:0 auto; 
	width:1200px;  
	box-sizing:border-box;
}
.graphic_list2 li{
	float:left; 
	width:265px; 
	height:150px; 
	margin-left:20px;
	margin-bottom:20px;
	background:black;
	overflow: hidden;
	position: relative;
	border-radius: 40px;
	transition: all 0.3s;
}
.graphic_list2 li a{
	font-size:30px;
	font-weight:bold;
	color:#fff;
}
.graphic_list2 li:hover{
	border-radius: 20px;
	box-shadow: 0 0 10px #bbbbbb,
							0 0 20px #cff;
}
.graphic_list2 li a>img{transition: all 0.3s;}
.graphic_list2 li:hover a>img{
	transform: scale(1.5);
}
/* POPUP BOX ---------------------*/

#popup2{ /*검정배경*/
	display:none; 
	position:fixed; 
	left:0; 
	top:0;
	width:100%; 
	height:100%; 
	background:rgba(0,0,0,0.7); 
	z-index:1000;
	overflow-y:scroll; 
}

/*각 목록별 나오는 모달팝업 내용 나오는 부분*/

.pop_body2{   /* 내용 */
	position:relative;
	height:100%;	
	margin:0 auto;
	width:1000px;
	background:#fff;
	z-index:10000;
}
.pop2>li{
	width:1000px;
	position:absolute;
	text-align:center;
	background:#fff;
	display:none;
}
.pop2>li p{
	text-align:center;
	font-size:30px;
}

/*다음이전 버튼*/

.m_btn .left_btn2, .m_btn .right_btn2{float:left;}

.m_btn .left_btn2 i,.m_btn .right_btn2 i{ 
	position:relative;
	top:10px;
	font-size:30px;	
	width:40px;
	height:50px;	
}

.m_btn .g_page2{  
	font-size:12px;
	color:#fff;
	width:80px;
	padding-top:10px;
	height:50px;
	text-align:center;
	color:#070707;
}
.m_btn:hover .g_page2{color:#d5d5d5;}



/* ///////////////////////////////////////////////////////모바일 영역 */
.part5_in{
	width:1200px;
	margin: 0 auto;
}

.mobile_con{
	width: 1100px;
}
.work_deco{
	width: 500px;
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: baseline;
}
.work_deco ul{ 
	width: 220px;
  margin-bottom: 50px;
}
.work_deco ul li{
	margin: 20px 0 0;
	font-size: 21px;
	color:#dfdddd;
}
/* 모바일 타블렛 뷰어*/


.btn3{
  font-size: 18px;
  width: 150px;
  padding: 7px;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.35s;
}
.pc1:hover, .pc2:hover, .pc3:hover{
  background-color: royalblue;
  color: #fff;
  border-color:transparent;
} 
.tablet1:hover, .tablet2:hover, .tablet3:hover{
  background-color: green;
  color: #fff;
  border-color:transparent;
}
.mobile1:hover, .mobile2:hover, .mobile3:hover{
  background-color: crimson;
  color: #fff;
  border-color:transparent;
}

/* POPUP BOX */
.pop3{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999999;
  overflow: auto;
}

.c3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
iframe{border: none;}

.part5 .close{
	position: absolute;
	left: 50%;
	bottom: 5%;
	transform: translateX(-50%);
}












/* footer */
@keyframes last_blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
.part8{
	padding: 0;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.foot_text{
	font-size: 86px;
}
.last_nevigate{
	animation: last_blink 2s ease-in-out infinite;
	color:#f0f0f0;
}
	

address{color: #fff;}