.part7_inner{
  width: 1200px;
  margin: 0 auto;
}
.plan_container{
  width: 90%;
  height: 90%;
  background: skyblue;
}

.plan_container .plan_Ttxt{
  display: flex;
  flex-direction: row;
} 

.plan_container .plan_Ttxt li{
  flex: 1;
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  border-bottom: 1px solid #000;
}
.AML_line{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.AML_line>li{
  flex: 1;
  text-align: center;
}

.ditaile_list{
  display: flex;
  flex-direction: column;
}

/* 갤러리 */
#gallery{ 
	width:1000px;
	height:550px;
	margin:50px auto 0; 
	padding:20px 20px 20px 80px; 
	border:solid 1px #ccc;
	background:#eee;
	box-shadow:0 0 30px #333;
	position:relative;
	overflow:hidden; /*부모영역넘어간 자식숨김*/
  overflow-y: scroll;
}
#largeImg{
	position:absolute;
	width:4080px;  /*전체총길이(가로폭1000px*4+오른쪽여백20px*4)*/
  overflow-y: scroll;
}
#largeImg img{ 
  width: 1000px;height: auto;
	float:left;
	/*img태그는 inline방식이므로 float를 사용하지 않아도 가로배열을 할수 있으나
	inline방식의 태그 입력시 엔터를 치는 경우 불필요한 공백이 발생하여 가로배열이 되지않음.
	->해결:float를 사용;
	*/
	margin-right:20px;
}

.thumbs{
	position:absolute;
	left:20px;top:20px;
  display: flex;
  flex-direction: column;
}
.thumbs a{ /* 버튼 */
	display:inline-block;
	padding:5px 10px;
	border:dotted 1px #888;
	background:#ccc;
	color:#666;
}
.thumbs a:hover{   /* 버튼오버 */
	background:#333;
	color:#fff;
}