.part7_inner{
  width: 1200px;
  margin: 0 auto;
}
.plan_container{
  width: 1200px;
  height: 700px;
	padding-top: 30px;
	border-radius: 30px 30px 0 0;
  background: #000;
	position: relative;
	box-shadow: 3px 0px 10px #777;
}

/* 갤러리 */
#gallery{ 
	width:1100px;
	height:700px;
	margin: 0 auto;
	background:#fff;
	position:relative;
}

.largeImg li{
	width:1000px;height: 680px;
	display:none;
	position:absolute;
	top:21px;left:50px;
	overflow-y: scroll;
}
.largeImg li:first-child{display:block;}
.largeImg li img{
	width: 100%;height: auto;
}
.largeImg li::-webkit-scrollbar{
  width: 7px;
}
.largeImg li::-webkit-scrollbar-thumb{
  background-color: #000;
  border-radius: 5px;
}
.largeImg li::-webkit-scrollbar-track{
  background-color: #0e7bbc;
}
.thumbs{
	position:absolute;
	top:30px;	
	left:80px;	
}
.thumbs li{
	float:left;
	margin-right:10px;
	opacity:0.3;
}

.thumbs li:first-child{opacity:1;}
.thumbs li a img{
	width:75px;
	height:57px;
}

.Plan_left_btn{
	position:absolute;
	left:0;
	top:340px;
}
.Plan_right_btn{
	position:absolute;
	right:0;
	top:340px;
}

/*이미지별 텍스트*/

.imgText li{
	display:none;
	position:absolute;
	bottom:50px;right:50px;
}
.imgText li:first-child{display:block;}

.imgText li strong{
	color:#111;
	font-size:35px;
}
