/* profile */
.part2{
	height: 800px;
}
.part2_in{
	width: 1200px;
	margin: 0 auto;
}
.part2_in h2{
  color: #111;
  text-shadow: 0 0 10px #FFFBDB;
}
.part2 h3{
	font-size: 25px;
	font-family: 'SDSwaggerTTF', sans-serif;
	font-weight: 100;
	color: #333;
}
.all_profile{
	width: 1200px;
	margin: 0 auto;
	display:grid;
	grid-template-columns: repeat(3,1fr);
  grid-auto-rows: minmax(300px, auto);
	
}
.all_profile>div{
	border-radius: 30px;
	text-align: center;
}
.picture_personal{
	width:380px;
	height: 580px;
	border: 3px solid #333;
	overflow: hidden;
	position: relative;
	grid-row: 1/3;
}

.picture_personal .picture{
	width: 380px;
  position: relative;
}
.picture p{
  width: 100%;
  position: absolute;
  top: 50%; left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 38px;
}

.picture:hover p{
  opacity: 0;
}
.img_box_p{width:380;height: 327px;}
.picture_personal .picture .img_box_p>img{
  width: 100%;height: 100%;
}

.picture_personal .white_box{
	width: 380px;
	height: 260px;
	background-color: #fff;
	bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.white_box>.WB_title{
  width: 380px;
  height: 45px;
}
.white_box>.WB_title>h3{
  font-size: 38px;
  display: inline-block;
}
.white_box>.WB_title>span{
  font-size: 19px;
}
.white_box>ul{
  width: 160px;
  height: 80px;
  display: flex;
  flex-direction: column;
}
.white_box>ul>li{
  flex: 1;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
}

.white_box>.contect_box{
  width: 380px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.white_box>.contect_box>h4{
  width: 380px;
  font-size: 24px;
  display: block;
}
.contect_box>ul{
  width: 160px;
  height: 100px;
  display: flex;
  flex-direction: column;
}
.contect_box>ul>li{
  height: 20px;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
}




.person_profile{
	grid-column: 2/4;
	width:800px;height: 280px;
  display: flex;
  flex-direction: row;
}
/* 왼쪽부분 */
.pp_ED{
  width: 350px;height: 90%;
  margin: auto;
  background-color: #FFFBDB;
  border: 3px solid #333;
  border-radius: 20px;
}
.hobby_T{
  margin-top: 20px;
  text-align: center;
}
.pp_ED .hobby_T ul{
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.pp_ED .hobby_T ul li{
  width: 50px; height: 50px;
  line-height: 50px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 20px;
  font-family: 'SANGJUHaerye';
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  
}
/* 오른쪽 부분 */
.pp_HB{
  width: 350px;height: 90%;
  margin: auto;
  border: 3px solid #333;
  border-radius: 20px;
  box-shadow: 0 0 5px #FFFBDB;
  overflow: hidden;
}
.pp_HB ul li{
  width: 356px;height: 258px;
  float: left;}
.pp_HB ul li img{width: 100%;height: 100%;}
.person_technic{
	grid-row: 2/3;
	grid-column: 2/4;
	width:800px;
	height: 350px;
	border: 3px solid #333;
  background: #4B5771;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.person_technic a{
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-family: 700;
  position: absolute;
  bottom: 0;right: 0;
  background-color: gray;
  border-radius: 10px;
  box-shadow:inset 0 0 10px #fff;
  transition: 0.3s;
}
.person_technic a:hover{
  background-color: #fff;
  transform: scale(0.8);
}
.PT_Header{
  width: 100%;
  height: 50px;
}
.skill_graph{position: relative;}
/*기술부분 플러그인 */
.pie-chart {
  position: relative;
  display:inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: 0.3s;
}
span.center{
  background: #fff;
  display : block;
  position: absolute;
  top:50%; left:50%;
  width:100px; height:100px;
  border-radius: 50%;
  text-align:center; line-height: 100px;
  font-size:20px;
  transform: translate(-50%, -50%);
}

/* 플러그인 끝 */
.PT_Footer{
  margin: 20px auto 0;
  width: 90%;
  height: 50px;
}